/* obsidian-material-ocean v0.2.1
   by @dragonwocky */

/* --- COLORS --- */

body.theme-dark,
body.is-mobile.theme-dark {
  color-scheme: dark;
  --highlight-mix-blend-mode: lighten;
  --mono-rgb-0: 0, 0, 0;
  --mono-rgb-100: 255, 255, 255;
  --accent-h: 354;
  --accent-s: 100%;
  --accent-l: 64%;

  --color-red-rgb: 255, 71, 90;
  --color-red: rgb(var(--color-red-rgb));
  --color-green-rgb: 163, 190, 140;
  --color-green: rgb(var(--color-green-rgb));
  --color-orange: #fde3c0;
  --color-yellow: #ffcb6b;
  --color-cyan: #89ddff;
  --color-blue: #82aaff;
  --color-purple: #c792ea;
  --color-pink: #ffc0cb;
  --color-base-00: #0f111a; /* editor */
  --color-base-10: #0b0d13; /* code blocks */
  --color-base-20: #090b10; /* unfocused nav + sidebar */
  --color-base-25: #0b0d13; /* inputs */
  --color-base-30: #090b10; /* focused nav + dividing lines*/
  --color-base-35: #11131e; /* hovered + selected buttons */
  --color-base-40: #0b0c13; /* box-shadows */
  --color-base-50: #697086; /* text-faint */
  --color-base-60: #697086;
  --color-base-70: #9093a2; /* text-muted */
  --color-base-100: #b6b7be; /* text-normal */
  --blockquote-color: var(--text-muted);

  --scrollbar-bg: transparent;
  --scrollbar-thumb-bg: #00010a;
  --scrollbar-active-thumb-bg: var(--color-red);
  --h1-color: var(--text-accent);
  --h2-color: var(--text-accent);
  --h3-color: var(--text-accent);
  --h4-color: var(--text-accent);
  --h5-color: var(--text-accent);
  --h6-color: var(--text-accent);
  --link-color: var(--text-normal);
  --link-color-hover: var(--text-muted);
  --link-external-color: var(--text-normal);
  --link-external-color-hover: var(--text-muted);
  --link-unresolved-color: var(--text-normal);
  --link-unresolved-decoration-color: var(--text-muted);
  --list-marker-color: var(--text-muted);
  --list-marker-color-collapsed: var(--text-muted);
  --collapse-icon-color: var(--text-faint);
  --collapse-icon-color-collapsed: var(--text-faint);
  --background-modifier-hover: var(--color-base-35);
  --table-header-background: var(--background-modifier-hover);
  --table-header-background-hover: var(--background-modifier-hover);
  --interactive-normal: var(--color-base-30);
  --titlebar-background: var(--background-secondary);
  --titlebar-background-focused: var(--background-secondary);
  --modal-background: var(--background-primary);
}

/* --- LAYOUT --- */

body {
  /* even out tag padding (>0.23em pushes text down over lower pad) */
  --tag-padding-y: 0.23em;
}

/* reading view: tighten spaces between lines */
.markdown-reading-view blockquote > p + blockquote {
  margin-top: -0.5em;
}
.markdown-preview-section > :nth-child(3) > * {
  margin-top: 0 !important;
}
.markdown-reading-view h1,
.markdown-reading-view h2,
.markdown-reading-view h3,
.markdown-reading-view h4,
.markdown-reading-view h5,
.markdown-reading-view h6 {
  margin-block-start: 1.5em;
  margin-block-end: 0;
}
.markdown-reading-view div > p {
  margin-block-start: 0;
  margin-block-end: 1.5em;
}
.markdown-reading-view li > p:last-child {
  margin-block-end: 0;
}

/* round images */
.markdown-reading-view img,
.markdown-source-view img {
  border-radius: 4px;
}

/* reading view: tighten code block line height to match source view */
.markdown-reading-view code[class*="language-"] {
  line-height: var(--line-height-tight);
}
/* reading view: horizontally scrollable code blocks */
.markdown-reading-view pre[class*="language-"] {
  overflow-x: scroll;
  white-space: pre;
}
.markdown-reading-view code[class*="language-"] {
  overflow: unset;
  white-space: pre;
}
/* source view: horizontally scrollable code lines */
body:not(.is-mobile) .markdown-source-view .HyperMD-codeblock:not(.HyperMD-codeblock-begin) {
  overflow: auto;
  white-space: pre;
}
/* source view: pads code blocks to leave space for language flair */
.markdown-source-view.mod-cm6 .HyperMD-codeblock-begin {
  padding-top: 0.75em;
}

/* centre and line up checkboxes */
.markdown-reading-view .task-list-item-checkbox,
.markdown-source-view.mod-cm6 .task-list-item-checkbox {
  top: 1.5px;
  vertical-align: unset;
}
.markdown-source-view .task-list-item-checkbox {
  margin-right: 3px;
}
.markdown-source-view .task-list-item-checkbox:checked:after {
  top: -0.5px;
  left: -0.5px;
}

/* reading view: remove top-level list indent */
.markdown-preview-section > div > ol,
.markdown-preview-section > div > .has-list-bullet:not(.contains-task-list) {
  padding-inline-start: 1em;
}
.markdown-preview-section > div > .contains-task-list {
  padding-inline-start: 1.4em;
}

/* full-width tables */
.markdown-rendered table {
  width: 100%;
}

/* --- ICONS --- */

body {
  --feather-minus: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
  --feather-maximize: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3'%3E%3C/path%3E%3C/svg%3E");
  --feather-x: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E");
  --lucide-calendar-days: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Crect x='3' y='4' width='18' height='18' rx='2' ry='2'%3E%3C/rect%3E%3Cline x1='16' y1='2' x2='16' y2='6'%3E%3C/line%3E%3Cline x1='8' y1='2' x2='8' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='10' x2='21' y2='10'%3E%3C/line%3E%3Cpath d='M8 14h.01'%3E%3C/path%3E%3Cpath d='M12 14h.01'%3E%3C/path%3E%3Cpath d='M16 14h.01'%3E%3C/path%3E%3Cpath d='M8 18h.01'%3E%3C/path%3E%3Cpath d='M12 18h.01'%3E%3C/path%3E%3Cpath d='M16 18h.01'%3E%3C/path%3E%3C/svg%3E");
}

/* replaces the window control buttons with feathericons
   (see https://antfu.me/posts/icons-in-pure-css) */
.mod-linux .titlebar-button,
.mod-windows .titlebar-button {
  padding: 0 12px;
}
.titlebar-button svg {
  -webkit-mask-size: cover;
  background-color: var(--icon-color);
  color: transparent;
  width: 1em;
  height: 1em;
}
.titlebar-button.mod-minimize svg {
  -webkit-mask-image: var(--feather-minus);
}
.titlebar-button.mod-maximize svg {
  -webkit-mask-image: var(--feather-maximize);
}
.titlebar-button.mod-close svg {
  -webkit-mask-image: var(--feather-x);
}

/* checkbox icon: ' ' = incomplete, 'x' = complete */

.markdown-source-view .task-list-item-checkbox[data-task=""],
.markdown-source-view .task-list-item-checkbox[data-task=" "],
.markdown-source-view .task-list-item-checkbox[data-task="x"],
.markdown-source-view .task-list-item-checkbox[data-task="X"],
.markdown-reading-view .task-list-item[data-task=""] input[type="checkbox"],
.markdown-reading-view .task-list-item[data-task=" "] input[type="checkbox"],
.markdown-reading-view .task-list-item[data-task="x"] input[type="checkbox"],
.markdown-reading-view .task-list-item[data-task="X"] input[type="checkbox"] {
  border-radius: 100%;
}
.markdown-source-view .HyperMD-task-line[data-task="x"],
.markdown-source-view .HyperMD-task-line[data-task="X"],
.markdown-reading-view .task-list-item[data-task="x"],
.markdown-reading-view .task-list-item[data-task="X"] {
  text-decoration: none !important;
  color: var(--text-muted) !important;
}
/* checkbox: '/' = incomplete */
.markdown-source-view .task-list-item-checkbox[data-task="/"]:checked,
.markdown-reading-view .task-list-item[data-task="/"] input[type="checkbox"]:checked {
  background-color: transparent;
  border-radius: 100%;
  overflow: hidden;
}
.markdown-source-view .task-list-item-checkbox[data-task="/"]:checked:after,
.markdown-reading-view .task-list-item[data-task="/"] input[type="checkbox"]:checked:after {
  -webkit-mask-image: none;
  background-color: var(--checkbox-color);
  width: 50%;
}
/* custom checkbox icon: '-' = cancelled */
.markdown-source-view .HyperMD-task-line[data-task="-"],
.markdown-reading-view .task-list-item[data-task="-"] {
  text-decoration: line-through;
  text-decoration-color: var(--text-muted);
  color: var(--text-faint);
}
.markdown-source-view .task-list-item-checkbox[data-task="-"]:checked,
.markdown-reading-view .task-list-item[data-task="-"] input[type="checkbox"]:checked {
  background-color: var(--text-muted);
  -webkit-mask-image: var(--feather-minus);
  -webkit-mask-size: cover;
}
.markdown-source-view .task-list-item-checkbox[data-task="-"]:checked:after,
.markdown-reading-view .task-list-item[data-task="-"] input[type="checkbox"]:checked:after {
  background: transparent;
}

/* --- SYNTAX HIGHLIGHTING --- */

code[class*="language-"],
.token.tag,
.token.parameter,
.token.selector,
.token.hexcode,
.token.attr-name,
.token.variable,
.cm-variable-2,
.cm-s-obsidian span.cm-error,
.cm-property,
.cm-variable,
.cm-atom {
  color: var(--color-red);
}
.token.boolean,
.token.number,
.token.unit,
.token.constant,
.token.symbol,
.token.deleted,
.cm-number,
.cm-property.cm-string {
  color: var(--color-orange);
}
.token.string,
.token.char,
.token.selector .id,
.token.attr-value,
.token.builtin,
.token.inserted,
.cm-builtin,
.cm-hmd-codeblock.cm-string {
  color: var(--color-green);
}
.token.operator,
.token.entity,
.token.url,
.token.pseudo-class,
.token.pseudo-element,
.language-css .token.string,
.style .token.string,
.cm-operator,
.cm-variable-3 {
  color: var(--color-cyan);
}
.token.atrule,
.token.keyword,
.cm-keyword {
  color: var(--color-purple);
}
.cm-def,
.token.function,
.token.macro.property,
.token.property-access,
.token.property,
.cm-callee,
.cm-property,
.cm-string-2 {
  color: var(--color-blue);
}
.token.selector .class,
.cm-qualifier,
.token.class-name,
.cm-type {
  color: var(--color-yellow);
}
.token.regex,
.token.important {
  color: var(--color-purple);
}
.token.operator,
.token.selector .combinator {
  color: var(--code-normal);
}
.token.important,
.token.bold {
  font-weight: bold;
}
.token.italic {
  font-style: italic;
}
.token.entity {
  cursor: help;
}

/* --- PLUGINS --- */

/* obsidian-calendar */
.calendar .day.adjacent-month {
  opacity: 1;
  color: var(--text-faint);
}

/* obsidian-dictionary */
.dictionary-view-content.view-content {
  padding-top: 0;
}
.dictionary-view-content .nav-buttons-container {
  padding: var(--size-4-2) var(--size-4-2) var(--size-4-3) var(--size-4-2);
}
.dictionary-view-content .nav-action-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-2-2) var(--size-2-3);
  border-radius: var(--clickable-icon-radius);
  color: var(--icon-color);
  opacity: var(--icon-opacity);
  transition: opacity 0.15s ease-in-out;
}
@media (hover: hover) {
  .dictionary-view-content .nav-action-button:hover {
    opacity: var(--icon-opacity-hover);
    color: var(--icon-color-hover);
    background-color: var(--background-modifier-hover);
  }
}

/* obsidian-full-calendar: replace file icon with calendar icon */
[data-type="full-calendar-view"] .workspace-tab-header-inner-icon svg {
  -webkit-mask-size: cover;
  -webkit-mask-image: var(--lucide-calendar-days);
  background-color: var(--icon-color);
  color: transparent;
  width: 1em;
  height: 1em;
}
/* obsidian-full-calendar: adjust padding/colours/font sizes */
.fc {
  --fc-now-indicator-color: var(--color-accent);
  --fc-small-font-size: var(--font-ui-small);
  --fc-border-color: var(--interactive-normal);
  --fc-border-color: var(--interactive-normal);
}
.fc table {
  font-size: var(--font-ui-small);
}
.fc .fc-scrollgrid {
  border-radius: 4px;
}
.fc .fc-toolbar-title {
  font-size: var(--font-ui-large);
}
.fc .fc-col-header-cell-cushion {
  text-decoration: none;
  padding: var(--size-2-3) var(--size-4-1);
}
.fc .fc-list-day-text,
.fc .fc-list-day-side-text,
.fc .fc-daygrid-day-number {
  text-decoration: none;
}
.fc .fc-daygrid-day-frame {
  padding: var(--size-2-1);
}
.fc .fc-button {
  text-transform: capitalize;
  font-size: var(--font-ui-medium);
  padding: var(--size-4-1) var(--size-4-3);
}
.fc .fc-button-primary:not(.fc-button-active) {
  box-shadow: var(--input-shadow);
  --input-shadow: inset 0 0.5px 0.75px 0.5px rgba(255, 255, 255, 0.09),
    0 2px 4px 0 rgba(0, 0, 0, 0.15), 0 1px 1.5px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 0 0 0 transparent;
}
.fc .fc-button:disabled {
  opacity: 1;
  color: var(--text-muted);
}
.fc .fc-button-primary:focus,
.fc .fc-button-primary:active {
  color: var(--text-on-accent) !important;
  box-shadow: 0 0 0 0.2rem var(--color-accent);
}
.fc .fc-button-primary:not(:disabled):active:focus,
.fc .fc-button-primary:not(:disabled).fc-button-active:focus {
  box-shadow: none;
}
/* obsidian-full-calendar: new event inputs + checkboxes */
label[for="allDay"],
label[for="recurring"] {
  margin-right: 3px;
}
#allDay[type="checkbox"],
#recurring[type="checkbox"] {
  top: 2px;
  border-radius: 100%;
}
#allDay[type="checkbox"]:checked:after,
#recurring[type="checkbox"]:checked:after {
  top: -0.5px;
  left: -0.5px;
}
.modal-content form div > button[style^="margin-left: 0.25rem;"]:first-child {
  margin-left: 0 !important;
}
.modal-content form select#calendar {
  padding: 0 0.8em;
}
#date[type="date"],
#startDate[type="date"],
#endDate[type="date"],
#startTime[type="time"],
#endTime[type="time"] {
  appearance: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: var(--font-ui-small);
  font-weight: var(--input-font-weight);
  line-height: var(--line-height-tight);
  height: var(--input-height);
  padding: 0 0.8em;
  max-width: 100%;
  background-color: var(--interactive-normal);
  box-shadow: var(--input-shadow);
  color: var(--text-normal);
  border-radius: var(--input-radius);
  border: 0;
}
.modal-content form > p:not([style^="display: flex;"]) {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.6em;
}
.modal-content form > p:nth-last-child(2) input[type="date"] {
  min-width: 9.6em;
  margin-left: -0.3em;
  margin-right: 0.6em;
}
/* obsidian-full-calendar: modal close + open note buttons */
body:not(.is-mobile) .modal-close-button {
  top: unset;
}
body:not(.is-mobile) .modal-close-button ~ .modal-content {
  margin-top: -1em;
}
body:not(.is-mobile) .modal-close-button ~ .modal-content > div > p[style="float: right;"] {
  margin-top: 4em;
}
.is-mobile .modal-content {
  padding: var(--size-4-1) var(--size-4-3);
}
.is-mobile .modal-close-button {
  top: 24px;
  z-index: 1;
}
.is-mobile .modal-close-button ~ .modal-content > div > p[style="float: right;"] {
  float: unset !important;
  margin-bottom: 0;
}
.is-phone .modal-content button {
  width: auto;
}
